.Rproj.user
.Rhistory
.RData
.Ruserdata

*.history

data-raw/GSE63179/GSE63179_RAW.tar

data-raw/GSE63179/GSE63179_matrixSignalIntensities.txt.gz

data-raw/GSE63179/idat/GSM1543269_9373551079_R01C01_Grn.idat

data-raw/GSE63179/idat/GSM1543269_9373551079_R01C01_Red.idat

data-raw/GSE63179/idat/GSM1543270_9373551079_R01C02_Grn.idat

*.idat

data-raw/rgSet.rds

data-raw/pD.rds

data-raw/GSE63179/filelist.txt

data-raw/GSE63179/idat/GPL16304_Gene_features_Metadata.txt.gz

data-raw/GSE63179/idat/GPL16304_Gene_features_PlatformTable.txt.gz

data-raw/example2/GSE73895/GSE73895_RAW.tar

data-raw/example2/GSE73895/idat/GPL13534_450K_Manifest_header_Descriptions.xlsx.gz

data-raw/example2/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.1.bpm.txt.gz

data-raw/example2/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.1.csv.gz

data-raw/example2/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.2.bpm.gz

data-raw/example2/GSE73895/filelist.txt

data-raw/example2/MethOxy.rds

data-raw/example1/GSE63179/filelist.txt

data-raw/example1/GSE63179/GSE63179_matrixSignalIntensities.txt.gz

data-raw/example1/GSE63179/GSE63179_RAW.tar

data-raw/example1/GSE63179/idat/GPL16304_Gene_features_Metadata.txt.gz

data-raw/example1/GSE63179/idat/GPL16304_Gene_features_PlatformTable.txt.gz

data-raw/example1/rgSet.rds

vignettes/vignette.toc

vignettes/vignette.pdf

vignettes/vignette.out

vignettes/vignette.aux

vignettes/vignette.blg

vignettes/vignette.bbl

vignettes/vignette.log


vignettes/MethylatedBS.rds

vignettes/MethylatedBS2.rds

vignettes/MethylatedOxBS2.rds

vignettes/results_emPD2.rds

vignettes/results_emPD1.rds

vignettes/UnMethylatedOxBS2.rds

vignettes/vignette-fig10.pdf

vignettes/vignette-fig11.pdf

vignettes/UnMethylatedBS.rds

vignettes/UnMethylatedBS2.rds

vignettes/pD1.rds

vignettes/pD.rds

vignettes/MethylatedOxBS.rds

vignettes/UnMethylatedOxBS.rds

data-raw/vignette_old/MethylatedBS.rds

data-raw/vignette_old/MethylatedBS2.rds

data-raw/vignette_old/MethylatedOxBS2.rds

data-raw/vignette_old/pD1.rds

data-raw/vignette_old/results_emPD1.rds

data-raw/vignette_old/results_emPD2.rds

data-raw/vignette_old/pD.rds

data-raw/vignette_old/UnMethylatedOxBS2.rds

data-raw/vignette_old/UnMethylatedOxBS.rds

data-raw/vignette_old/UnMethylatedBS2.rds

data-raw/vignette_old/UnMethylatedBS.rds

data-raw/vignette_old/MethylatedOxBS.rds

vignettes/GSE63179/filelist.txt

vignettes/GSE63179/GSE63179_matrixSignalIntensities.txt.gz

vignettes/GSE63179/GSE63179_RAW.tar

vignettes/GSE63179/idat/GPL16304_Gene_features_Metadata.txt.gz

vignettes/GSE63179/idat/GPL16304_Gene_features_PlatformTable.txt.gz

vignettes/GSE73895/filelist.txt

vignettes/GSE73895/GSE73895_RAW.tar

vignettes/GSE73895/idat/GPL13534_450K_Manifest_header_Descriptions.xlsx.gz

vignettes/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.1.bpm.txt.gz

vignettes/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.1.csv.gz

vignettes/GSE73895/idat/GPL13534_HumanMethylation450_15017482_v.1.2.bpm.gz
